@model UserManagement.MVC.Models.Rental
@{
    ViewData["Title"] = "Make a Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>@ViewData["Title"]</h1>

<h5>Let's finish yours reservation</h5>

<form form name="buses" method="post" asp-action="AddRental" asp-controller="Rental">
    <div class="form-group">
        <label for="exampleInputEmail1">Start Date</label>
        <input type="date" name="startDate" class="form-control w-25" value="@DateTime.Now.ToString("yyyy-MM-dd")" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">How many Hours</label>
        <input name="Hours" class="form-control w-25" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPrice">Pickup Location</label>
        <input name="pickupLocation" class="form-control w-25" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPrice">Pickup Location</label>
        <input name="description" class="form-control w-25" placeholder="NOT required">
    </div>
    <input name="userID" class="form-control w-25" value="@Model.userID" hidden>
    <input name="typeID" class="form-control w-25" value="@Model.typeID" hidden>
    <input name="finalPrice" class="form-control w-25" value="@Model.finalPrice" hidden>
    <input name="busID" class="form-control w-25" value="@Model.busID" hidden>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
